// ssh-credentials.auto.pkrvars.hcl

// Variable definitions: variables.pkr.hcl
// source.pkr.hcl
// Replace the values accordingly
ssh_host     = "192.168.1.2"
ssh_username = "root"
ssh_password = "your_long_and_secret_ssh_password"